<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#2e51a2">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Style -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css" />

    <title>Legabot</title>
    <meta property="og:title" content="Legabot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://legabot.me" />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/felixalguzman/legabot-website/master/static/assets/img/logo.png">
    <meta property="og:description" content="Sistema de consulta legal laboral" />

    <link rel="shortcut icon" type="image/png" href="/static/assets/img/logo.png" />

</head>

<body>


    <header>

        <nav class="menu_mobile">
            <div class="menu_mobile__items">
                <a href="/">Inicio</a>
            </div>
        </nav>

        <nav class="menu">
            <div class="menu__items">
                <a href="#">Inicio</a>
            </div>
        </nav>

        <div class="hero">
            <div class="left">
                <h1 style="font-family:'Open Sans',serif">Laborabot</h1>
                <h5>Sistema de consulta laboral</h5>
            </div>
        </div>

    </header>

    <section class="flex flex--centralize">

        <div class="open-source">
            <!-- <h2>algo bonito</h2> -->
        </div>
    </section>

    <section class="discord">
        <h2>Telegram</h2>

        <div class="buttons">
            <a target="_blank" href="https://telegram.me/lega_jf_bot"
                class="button button--size-medium buttton--size-width-override button--outline-white button--has-icon">
                <div class="button__icon"><i class="fab fa-telegram-plane" style="color: white"></i></div>
                Habla ahora!
            </a>

        </div>



    </section>

    <script src="static/assets/js/common.js"></script>
</body>

</html>